.container {
  padding: 20px;
  margin: auto;
  width: 80%;
  text-align: center;
}

.container > input {
  margin-top: 20px;
}

.btn {
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: 20px;
  background: transparent;
  border: none;
}

.btn-green {
  background: #42b983;
  color: white;
  font-weight: bold;
}