.navbar-parent {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: #F0F0F0;
}

.searchbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar-input {
  padding: .5rem 1rem;
  border-radius: 20px;
  font-size: 1rem;
  border: 2px solid gray;
  min-width: 300px;
}

.searchbar-input:focus {
  border: 2px solid #42b983;
}

.btn-search {
  padding: .5rem 2rem;
  margin-left: 1rem;
}